.panda-info-background{
    background-color:#fceae8;
}
.panda-btn-buy-now{
    background-color: #e83e8c;
    color: #fff;
    border-radius: 8px;
    padding: 8px 28px;
}
.catagory img{
    height: 100px;
}